body{
	background: #666;
	font: normal 14px/1.6 arial, helvetica, sans-serif;
	margin: 0 auto;
}



/*BASIC*/

.wrap{
	margin: 0 auto;
	overflow: hidden;
	width: 1000px;
}

header{
	background-color: rgba(0,0,0,.5);
	background-position: top right;
	background-repeat: no-repeat;
	height: 300px;
}

.logo{
	background: url(../img/logo.png) no-repeat;
	display: block;
	height: 0;
	overflow: hidden;
	padding-top: 300px;
	text-decoration: none;
	width: 300px;
}

.sidebar{
	background: rgba(255,255,255,.5);
	color: #fff;
	float: left;
	padding: 20px;
	width: 260px;
}

.main{
	background: #fff;
	float: right;
	padding: 20px;
	width: 660px;
}

/*SIDEBAR*/

.sidebar h3{
	border-bottom: 1px solid #fff;
	font-size: 1em;
	margin: 0 0 5px 0;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.sidebar ul{
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
}

.sidebar li{
	line-height: 24px;
}

.sidebar li a{
	color: #fff;
	display: block;
	text-decoration: none;
}

/*POST*/

.post{
	border-bottom: 1px solid rgba(0,0,0,.3);
	margin-bottom: 20px;
	overflow: hidden;
}

.post .title{
	margin: 0 0 16px 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding-bottom: 10px;
}

.post .title a{
	text-decoration: none;
}

.post .content{
	float: right;
	width: 540px;
}

.post .content p:first-child{
	margin-top: 0;
}

.post .footer{
	border-top: 1px solid rgba(0,0,0,.1);	
	padding: 20px 0;
}

.post .footer .comments{
	line-height: 24px;
	width: 30px;
	background: #666;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: block;
	float: right;
	border-radius: 3px;
	position: relative;
}

.post .footer .comments:after{
	content: "";
	width: 8px;
	height: 8px;
	background: #666;
	position: absolute;
	top: 8px;
	left: -4px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}

.post .author{
	float: left;
	height: 100px;
	margin-top: 4px;
	overflow: hidden;
	position: relative;
	width: 100px;
}

.post .author img{
	width: 100px;
}

.post .author span{
	background: rgba(0, 0, 0, .5);
	bottom: 0;
	color: white;
	left: 0;
	display: block;
	padding: 2px 2px;
	position: absolute;
	text-align: center;
	width: 96px;
	font-size: 10px;
	font-weight: bold;
}


/*SKIN*/

body{
	background: #666 url(../img/500days-bg.jpg) center center fixed no-repeat;
  	-moz-background-size: cover;
  	background-size: cover;
}

header{
	background-image: url(../img/500days-header.jpg);
}

a{
	color: #887040;
}
.post .footer .comments,
.post .footer .comments:after{
	background: #887040;
}

a:hover{
	color: #ad9360;
}
.post .footer .comments:hover,
.post .footer .comments:hover:after{
	background: #ad9360;
}



